body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* style for root class based component */
.head{
  border: 2px solid blue;
}

/* styling for nested class based component */
.contact-page{

  border: 2px solid red;
}

/* Styling for function based component */

.Component3{
  margin-top:3px;
  border: 2px solid rebeccapurple;
}
